.Card {
    padding: 12px;
    border-width: 2px;
    /*border-color: #D6B081;*/
    border-color:#289d0e ;
    border-radius: 8px;    
}

.asset {
    pointer-events: none;
    width: auto;
    height: 220px;
  }
  