.game-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #FF4545;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* .sequencia {
  background-color: #faeae7;
  border-radius: 8px;
  margin-bottom: 16px;
  text-align: center;
} */


.tabela-frequencia {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabela-frequencia th, .tabela-frequencia td {
  padding: 16px;
  border: 1px solid #FF4545;
  text-align: center;
}

.tabela-frequencia th {
  background-color: #FF4545;
  color: #ffffff;
}

input[type="number"] {
  width: 80px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #FF4545;
  border-radius: 5px;
  text-align: center;
  margin: 5px 0;
}

/* .input-container {
  margin-top: 100px;
} */

/* .buttons-container {
  margin-top: 50px;
} */

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.verify-btn {
  background-color: #FF4545;
  color: white;
}

.verify-btn:hover {
  background-color: #ffffff;
  color: #FF4545;
  border: 1px solid #FF4545;
  border-radius: 5px;
}

.next-phase-btn {
  background-color: #FF7B69;
  color: #ffffff;
}

.next-phase-btn:hover {
  background-color: #ffffff;
  color: #FF7B69;
  border: 1px solid #FF4545;
  border-radius: 5px;
}

.restart-btn {
  background-color: #FF7B69;
  color: #ffffff;
}

.restart-btn:hover {
  background-color: #ffffff;
  color: #FF7B69;
  border: 1px solid #FF7B69;
  border-radius: 5px;
}

.resolucao {
  margin-top: 20px;
  background-color: #FF7B69;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: left;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resultado {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fa8282;
}

/* Estilos para notificações */
.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #FF4545;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  z-index: 999;
  border-radius: 10px;
}

.notification p {
  margin: 10px 0;
  color: #FF4545;
}

/* Botão para fechar notificações */
.close-notification-btn {
  background-color: #FF4545;
  color: white;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.close-notification-btn:hover {
  background-color: #ffffff;
  color: #FF4545;
}
