.hst-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100%;
    width: 100%;
    background-color: #D9FFD6;
    margin: 0;
    padding: 30px 0; 
    box-sizing: border-box;
}

.hst-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #90D999;
    text-shadow:
        -1px -1px 0 #364732,
        1px -1px 0 #364732,
        -1px 1px 0 #364732,
        1px 1px 0 #364732;
    text-align: center;
    letter-spacing: 2px; 
}

.hst-firstTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #364732;
    text-shadow:
        -1px -1px 0 #4D9C57,
        1px -1px 0 #4D9C57,
        -1px 1px 0 #4D9C57,
        1px 1px 0 #4D9C57;
    margin-bottom: 10px; 
    text-align: center;
}

/* Botão hst-buttonNext*/
.buttonNext {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.hst-buttonNext {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #092902;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hst-buttonNext:hover {
    background-color: #ffffff;
    color: #092902;
}

/*Botão hst-buttonClose*/

.hst-buttonClose{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #092902;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    }

.hst-buttonClose:hover{
    background-color: #ffffff;
    color: #092902;
}

/*Vaquinhas*/

.vaca {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: auto;
    z-index: 0;
}

.vaca:nth-child(2) {
    left: 0;
    top: 100%;

}

.vaca:nth-child(1) {
    right: 0;
}

    .Card {
        padding: 12px;
        border-width: 2px;
        border-color: #364732;
        border-radius: 8px;    
    }

    .asset {
        pointer-events: none;
        width: auto;
        height: 220px;
    }
  